In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
# Load data
path_patients   = 'MIMIC-IV v2.2/hosp/patients.csv'
df              = pd.read_csv(path_patients)

In [9]:
# Change gender to binary values
df['gender'] = df['gender'].apply(lambda x: 1 if x.strip() == 'M' else 0)
df.rename(columns={'gender':'isMale'}, inplace=True)

# Convert strings into ints and year group range into separate columns
df['dod'] = df['dod'].apply(lambda x: pd.to_datetime(x).timestamp() if not pd.isnull(x) else np.nan)
df[['anchor_year_group_start', 'anchor_year_group_end']] = df['anchor_year_group'].str.split(" - ", expand=True).astype(int)
df.drop(columns=['anchor_year_group'], inplace=True)

In [10]:
df.head()

,subject_id,isMale,anchor_age,anchor_year,dod,anchor_year_group_start,anchor_year_group_end
0,10000032,0,52,2180,6.648739e+09,2014,2016
1,10000048,0,23,2126,NaN,2008,2010
2,10000068,0,19,2160,NaN,2008,2010
3,10000084,1,72,2160,6.031152e+09,2017,2019
4,10000102,0,27,2136,NaN,2008,2010

In [11]:
df.dtypes

subject_id                   int64
isMale                       int64
anchor_age                   int64
anchor_year                  int64
dod                        float64
anchor_year_group_start      int32
anchor_year_group_end        int32
dtype: object

In [12]:
# Export CSV for later use
df.to_csv('processed_data/patients.csv', index=False)