In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
# Load data
path_admissions = 'MIMIC-IV v2.2/hosp/admissions.csv'
df              = pd.read_csv(path_admissions)

In [9]:
# Drop irrelevant columns
df = df[['subject_id', 'admittime', 'marital_status', 'race']]
df = df.drop_duplicates(subset=['subject_id'], keep='last')

# Convert values to int
df['admittime'] = pd.to_datetime(df['admittime'])
df['admittime'] = df['admittime'].apply(lambda x: x.timestamp())
df['marital_status'] = df['marital_status'].map({'SINGLE': 0, 'MARRIED': 1, 'WIDOWED': 2, 'DIVORCED': 3})
df['marital_status'] = df['marital_status'].fillna(-1).astype(int)

In [10]:
df.head()

   subject_id     admittime  marital_status   race
3    10000032  6.644637e+09               2  WHITE
4    10000068  6.001255e+09               0  WHITE
6    10000084  6.027110e+09               1  WHITE
7    10000108  6.113834e+09               0  WHITE
9    10000117  6.744190e+09               3  WHITE

In [11]:
df.dtypes

subject_id          int64
admittime         float64
marital_status      int32
race               object
dtype: object

In [12]:
# Export CSV for later use
df.to_csv('processed_data/admissions.csv', index=False)